In [3]:
# Create a tuple of 3 names: "john", "sia" and "ria"
tuple1 = ("john", "sia", "ria")
tuple1

('john', 'sia', 'ria')

In [7]:
# Display the second object in the tuple
tuple1[2]

'ria'

In [8]:
# Create a tuple containing the letters of your name from a string
tuple2 = ("A","N","U","J","A")
tuple2

('A', 'N', 'U', 'J', 'A')

In [23]:
# Create a list of 3 names: "john", "sia" and "ria"
names = list(tuple1) #["john", "sia", "ria"]
names

['john', 'sia', 'ria']

In [24]:
# Append the string "elena" to the names list using .append()
names.append("elena")
names

['john', 'sia', 'ria', 'elena']

In [15]:
# Print the last item in names list
names[-1]

'elena'

In [20]:
# check 'john' name's length using len()
len(names[0])

4

In [29]:
# Create an empty dictionary
dict1 = {}
dict1

{}

In [30]:
# Add some key-value pairs to the dictionary
dict1["Anu"] = 9922
dict1["Pravin"] = 8459
dict1

{'Anu': 9922, 'Pravin': 8459}